html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* Center page content in HTML page */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:gray; 
  height: 100%;
}

canvas {
  display: block;
}
